* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size)*0.9);
}

body {
    background-color: black;
    color: burlywood;
}

.board {
    margin-top: 150px;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cell.x,
.cell.circle {
    cursor: not-allowed;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n+1) {
    border-left: none;
}

.cell:nth-child(3n) {
    border-right: none;
}

.cell:nth-last-child(1),
.cell:nth-last-child(2),
.cell:nth-last-child(3) {
    border-bottom: none;
}

/*before and after pseudo classes help to insert content
before and after the main content of the container.

position: absolute helps to enable overlapping and thus form an X*/
.cell.x::before, 
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.x .cell:not(.x):not(.circle):hover::before {
    content: '';
    position: absolute;
    width: calc(var(--mark-size)*0.15);
    height: var(--mark-size);
    background-color: burlywood;
}

.cell.circle::before {
    background-color: burlywood;
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before {
    background-color: rgb(222, 184, 135, 0.5);
}
.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
    transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
    transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
    width: var(--mark-size);
    height: var(--mark-size);
}


.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
    width: calc(var(--mark-size)*0.7);
    height: calc(var(--mark-size)*0.7);
    background-color: black;
}

.winning-message {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5em;
    flex-direction: column;
    gap: 20px;
    display: none;
}

.winning-message button {
    width: 120px;
    height: 40px;
    border-radius: 15px;
    cursor: pointer;
    color: black;
    background-color: white;
}

.winning-message button:hover {
    color: white;
    background-color: black;
}

.winning-message.show {
    display: flex;
}

h1, h3 {
    text-align: center;
    padding-top: 15px;
    font-family: Roboto;
}